/* colororange:#ff6600;
colorbleur:#d1e3ff;
colorbleufonce:#0000ff; */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather+Sans:wght@400;700&display=swap");
body {
  font-family: 'Lato', sans-serif;
  color:#040000;
  margin: 0;
  padding: 0;
  
}
a{
    text-decoration: none !important;
}
.navbar{
    background-color: #040000!important;
    color: white;
    width: 100%;
}
.navbar_infos{
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    width: 97%;
    margin: auto;
}
.banner{
    background-color:#d1e3ff;
    padding-bottom: 50px;
    position: relative;     
}
.banner_content{
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 20px;
    padding-right: 20px;
}
.banner_logo{
    color:#0355cc; 
    font-size: 12px; 
}
/* .banner_menu{
    width: 100%;
} */

.banner_menu ul{
display: flex;

}
.banner_menu li{
list-style: none;
    
}
.banner_menu a{
    text-decoration: none;
    font-size: 15px;
    margin: 30px;
    color: #040000;
} 
.banner_menu a:hover{
    color: #0355cc!important;
}
.banner_active{
color: #0355cc!important;
}
.banner_layout{
display: flex;
justify-content: space-around;  
align-items: center; 
width: 100%;
padding-top: 200px;
}
.banner_call{
padding-top: 70px;
width: 50%;
margin: auto;
}
.banner_call h1{
color: #0355cc;
text-align: start;
font-size: 2.5rem;
width: 50%;
font-family: 'Merriweather Sans', sans-serif;
}
.banner_call p{
color: #444;
font-size: 15px;
/* text-align: justify; */
line-height: 1.5;
padding-bottom: 20px;
padding-top: 0;
}
.banner_contact {
background-color:#ff6600;
border: 1px solid #ff8a1d;
padding: 10px 45px;
color: white;
border-radius: 5px;
margin-top:25px;
width: 200px !important;
text-transform: uppercase;
}
.banner_contact:hover{
    border:1px solid #ff6600;
    background: none;
    color: #ff6600;
}
.banner_image{
width: 40%;
margin: auto;

}
.banner_image img{
    vertical-align: middle;
    width: 100%;
}
.banner_materials{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-bottom: 100px;
    position: absolute;
    bottom: -118%;
  /* margin: auto; */
}

.materials_one{
    background-color:#ff8a1d;
    margin: auto;
    width: 28%;
    height: 240px;
    border-radius: 2px;
    text-align: center;
    padding-top: 39px;
    color: #ffffff;
}
.materials_one svg{
color: #0355cc !important;
}
.materials_one p{
    font-weight: bold;
    font-size: 20px;
}
.materials_one:nth-child(1){
    
    background-color:#ffffff;
    margin: auto;
    width: 28%;
    height: 240px;
    border-radius: 2px;
   box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
   color: #0355cc;

}
.materials_one:nth-child(1):hover{
    background-color:#ff6600;
    transition: 0.2;
}
.materials_one:nth-child(3){
   box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
    background-color:#ffffff;
    margin: auto;
    width: 28%;
    height: 240px;
    border-radius: 2px;
    color: #0355cc;
}
.materials_one:nth-child(3):hover{
    background-color: #ff6600;
}
.material_image img{
    color: #0355cc !important;
}

/* section about */
.about{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    padding-bottom: 70px;

    margin: auto;

}
.about_us{
    width: 40%;
    padding-top: 80px;
}
.about_us h1{
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
}
.about_us p{
    /* text-align: justify; */
    line-height: 1.4;
    font-size: 15px;   
    padding-bottom: 25px; 
}
.about_us a{
    background-color: #0355cc;
    color: #ffffff;
    padding: 10px 45px;
    /* margin-top: 50px; */
}
.about_us a:hover{
    background-color: #ffffff;
    border: 1px solid #0355cc;
    color: #0355cc;
}
.about_image{
    width: 50%;
}
.about_image img{
    width: 100%;
    margin: auto;
}
/* end-about */

.provide{
    background-color: #d1e3ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 70px;
}
.provide_image{
    width: 37%;
    margin: auto;
    padding-top: 90px;
}
.provide_image img{
    width: 100%;
    margin: auto;
}
.provide_text{
    width: 40%;
    margin: auto;
}
.provide_text h1{
color: #0355cc;
font-size:2.5rem ;
text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
/* line-height: 1.5; */
}
.provide_text p{
    line-height: 1.5;
padding-bottom: 20px;
}
.provide_text a{
background-color: #ff8a1d;
color: #ffffff;
padding: 10px 45px;
}
.provide_text a:hover{
    background-color: #ffffff;
    border: 1px solid #ff8a1d;
    color: #ff8a1d;
}


/* end .provide */
.title_services h1{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
    padding-top: 60px;
}
.our_services{
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.service_item{
    background-color: #ffffff;
    box-shadow: 6px 6px  25px rgba(0, 0, 0, 0.2);
    width: 28%;
    height: 230px;
    text-align: center;
    padding-top: 30px;

}
.service_item h1{ 
    font-size: 20px;
}
.service_item p{
    text-align: center;
    line-height: 1.5;
    padding-left: 25px;
    padding-right: 25px;
}
.service_link a{
    background-color: #0355cc;
    color: #ffffff;
    padding: 10px 45px;
    font-weight: bold;
    margin-left: 580px;
}
.service_link a:hover{
    border: 1px solid #0355cc;
    background-color: #ffffff;
    color: #0355cc;
}

.title_testimonials h1{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
    padding-top: 60px;
}
.testimonials{
width: 100%;
/* padding-bottom: 70%; */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.testimonials_people{
    width: 40%;
    height: 270px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
    
}

.testimonials_image{
    position: relative;
    z-index: 1;
}
.testimonials_image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 20px;
}
.testimonials_layout{
    margin-left: 180px;
    margin-top: -20%;
    position: relative;
    /* bottom: -180px; */
    /* right: 500px; */ 
    /* top: 200px; */
    /* right: 10px; */
}
.testimonials_layout h5{
    font-size: 15px;
}
.testimonials_text p{
    line-height: 1.5;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 55px;
    /* margin-top: -5%; */
    /* margin-bottom: 850px; */
}
.title_services h1{
    text-align: center;
    font-size: 0.5rem;
    
}
.testimonials_likes{
    margin-top: -17px;
    margin-bottom: 50px;
}
.testimonials_quote {
    /* position: absolute; */
    /* right:50%; */
    /* margin-right: 245px; */
}
/* .testimonials_layout svg{
    vertical-align: bottom;
} */
.testimonials_direction{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.testimonial_directionLeft{
    border: 1px solid #0355cc;
    width: 25px;
    height: 30px;
    padding: 5px 15px;
    background-color: #0355cc;
    /* text-align: center; */
    margin-right: 50px;
}
.testimonial_directionLeft svg{
    vertical-align: middle;
}
.testimonial_directionRight{
    border: 1px solid #0355cc;
    width: 25px;
    height: 30px;
    padding: 5px 15px;
    background-color: #0355cc;
    /* text-align: center; */
    margin-right: 50px;
}
















/* media query banner */
@media screen and (max-width: 1024px){
    .banner_layout{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        }
        
        .navbar_infos span{
            vertical-align: top;
            font-size: 15px
        }
        .banner_content{
            padding-top: 0;
            display: flex;
            flex-direction: column;
         justify-content: center;
         align-items: center;
        }
        .banner_menu{
            width: 100%;
        }
        .banner_menu a{
            text-decoration: none;
            font-size: 15px;
            margin-left: 5px;
            margin-right: 5px;
        } 
        .banner_call{
            width: 90%;
            justify-content: center;
            align-items: center;
            padding-top: 0;
        }
        .banner_call h1{
            color: #0355cc;
            text-align: center;
            font-size: 2rem;
            width: 100%;
            }
            
            .banner_contact {
            margin-left: 60px;
            /* margin-bottom: 18px; */
            }
            .banner_image{
            width: 70%;
            margin-top: 40px;
            /* margin: auto;   */
            }
            .banner_image img{
            vertical-align: middle;
                width: 100%;
            }
            .banner_materials{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .materials_one{
                margin-top: 18px;
                width: 80%;
                box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
                
            }
            .materials_one:nth-child(1){
                width: 80%;
                margin-top: 18px;
                
            }
            .materials_one:nth-child(3){
                width: 80%;
                margin-top: 18px;  
            } 
            
            

            /* section about */

            .about{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding-top: 900px;
            
            }
            .about_us{
                width: 90%;
                padding-top: 80px;
                margin: auto;
            }
            .about_us h1{
                text-align: center;
            }
            .about_us p{
                text-align: justify;
                overflow: scroll;
            }
            .about_us a{
                background-color: #0355cc;
                color: #ffffff;
                padding: 10px 35px;
                margin-left: 90px;
            }
            .about_us a:hover{
                background-color: #ffffff;
                border: 1px solid #0355cc;
                color: #0355cc;
            }
            .about_image{
                width: 90%;
                padding-top: 50px;
                margin: auto;

            }
            .about_image img{
                width: 100%;
            }
            
                /* end about */
            .provide{
                display: flex;
                flex-direction: column-reverse;
                width: 100%;
                padding-top: 50px;
            }
            .provide_image{
                width: 90%;
                margin: auto;
                padding-top: 20px;
            }
            .provide_image img{
                width: 100%;
                margin: auto;
            }
            .provide_text{
                width: 90%;
                margin: auto;
                text-align: justify;
            }
            .provide_text h1{
            text-align: center;
            font-size: 25px;
            }
            .provide_text p{
            line-height: 1.5;
            padding-bottom: 20px;
            }
            .provide_text a{
            background-color: #ff8a1d;
            color: #ffffff;
            padding: 10px 45px;
            margin-left: 70px;
            }
            
            /* .our_services */
            .title_services h1{
                text-align: center;
                font-weight: bold;
                font-size: 2rem;
                text-transform: uppercase;
                font-family: 'Merriweather Sans', sans-serif;
                padding-top: 60px;
            }
            .our_services{
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                padding-bottom: 70px;
                width: 100%;
                justify-content: space-around;
                align-items: center;
            }
            .service_item{
                background-color: #ffffff;
                box-shadow: 6px 6px  25px rgba(0, 0, 0, 0.2);
                width: 90%;
                height: 230px;
                text-align: center;
                padding-top: 30px;
                margin-top: 50px;
            
            }
            .service_item h1{ 
                font-size: 20px;
            }
            .service_item p{
                text-align: center;
                line-height: 1.5;
                padding-left: 25px;
                padding-right: 25px;
            }
            
            .service_link a{
                margin-left: 80px;
            }
        /* end .our_services */

        /* .testimonials */
        .testimonials{
            width: 100%;
            flex-direction: column;
         }
        .testimonials_people{
                width: 90%;
                height: 400px;
                margin: auto;
            margin-top: 60px;
                
        }
        .testimonials_text p{
            /* line-height: 1.5; */
            padding-left: 10px;
            padding-right: 10px;
            text-align: justify;
            /* margin-top: -5%; */
            /* margin-bottom: 850px; */
        }
        .testimonials_image img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-left: 100px;
            margin-top: 20px;
        }
        .testimonials_layout{
            margin-left: -10px;
            text-align: center;
            margin-top: -8%;
            position: relative; 
        }
        .testimonials_text p{
            line-height: 1.5;
            padding-left: 25px;
            padding-right: 25px;
            margin-bottom: 0px;
            
        }
        
};
    

